<div class="container">
<div class="row pb-3">
<h2><%= @post.title %></h2>
</div>
<div class="row">
<h6><%= @post.body %></h6>
</div>

<div class="row pb-4">
  <button class="btn btn-outline-primary mr-2">
    <%= link_to "Edit", edit_post_path(@post) %>
  </button>

<button class="btn btn-outline-primary"><%= link_to "Delete",
            post_path(@post),
            method: :delete,
            data: { confirm: "Do you wish to proceed?" }
            %></button>
</div>

<%= form_for [@post, @comment] do |f| %>
<div class="row pb-3">
<h2><%= f.label :Comment %></h2>
<%= f.text_area :body, class: "form-control", rows: 4, placeholder: "What's on your mind?" %>
</div>
<div class="row pb-4">
<%= f.submit  class: "btn btn-outline-primary" %>
</div>
<% end %>


<% @comments.each do |comment| %>
<div class="row pb-2">
  <%= comment.body %>
</div>

  <div class="row pb-3">
  <small class="mr-2">
    Commented <%= time_ago_in_words(comment.created_at) %> ago
  </small>
        •
        <small>
<%= link_to "Delete",
            comment_path(comment),
            method: :delete,
            data: {
            confirm: "Are you sure?"
          }, class: "ml-2"
          %> </small>
    </div>
  <% end %>
</div>











<!-- -->
